*{
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    border: none;
    color: #424242;
}

h1{
    color: #424242;

}

p{
    margin-top: 10px;
    line-height: 1.5;
    max-width: 600px;
}

body{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

table{
    border: 2px solid black;
    flex: 1;
    max-width: 800px;
    box-sizing: border-box;
    padding: 0px;
    margin-top: 15px;
    background-color: #70A288;
}   



th{
    border:0px solid;
    padding: 15px;
    color: white;
    /* border-bottom: 1px solid; */
    background-color: #70A288;
    
}

td{
    padding:10px;
    background-color: white;
    /* border-bottom: 1px solid; */
}

.note{
    color: tomato;
}

img{
    width: 100%;
    height: auto;
    max-width: 500px;
    margin:5px 0px 5px 0px ;
}

.back{
    margin-bottom: 10px;
}

a{
    color: rgb(92, 92, 236);
}

.emoji{
    font-size: 20px;
}

.goodLuck{
    margin-top: 10px;
    color: #70A288;
    font-size: 19px;
    font-weight: bold;
}